/*LANDING PAGE STYLESHEET & HINTS*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');


html {}

body {
          width: 100vw;
          background-color: hsl(286, 54%, 15%);  
          color: white;
          justify-content: center;
          text-align: center;
          align-items: center;
          align-content: center;
          vertical-align: center;
          margin: 0 auto;
          
          font-family: 'Avenir'
          
        } 

/*
* {box-sizing: border-box;}*/


iframe {border-radius: 1%;}


h1
{
         font-family: futura-pt,sans-serif;
      font-weight: 700;
      font-style: normal;
          
          font-size: 5vw;
          margin-bottom: 0px;         
}

hr {width: 50vw; margin-left: 25vw; height: 2px; background: black; margin-top: 0px}


h2 {font-size: 2vw; 
   font-family: futura-pt,sans-serif;
      font-weight: 500;
      font-style: normal; ;}

h3 {font-size: 2vw;}

p {
font-size: 22px;
text-align: left;
font-family: proxima-nova,sans-serif;
font-weight: 100;
font-style: normal;
letter-spacing: 0.015em;
line-height: 1.5em;
margin-left: 25vw; margin-right: 25vw;}

.imageDisplay {width: 15vw; height: auto; margin-right: 3vw;}

a {border: solid yellow 0px; color: black}

button:hover {
  background-color: rgba(0,0,255,0.3);
  transform: scale(0.95);
        }




table {border: solid 0px red; width: 90vw}

td { 
    border: solid blue 0px; width: 26vw;
  }



  .hintImages {max-width: 300px}



  #leftChoice {background-image: url("images/hintsandsolutions.png");}
  #rightChoice {background-image: url("images/90scomputer.png");}  
  .twoChoices {
      width: 45vw; 
      height: 45vw;
      margin-left: 2.5vw; 
      background-color: green; 
      float: left; 
      background-image: no-repeat; 
      background-position: center; 
      background-size: cover;}
